azure-mgmt-resource
azure-identity
azure-mgmt-web
azure-mgmt-storage
azure-mgmt-sql
azure-mgmt-compute
azure-mgmt-keyvault
azure-mgmt-network
azure-mgmt-monitor
azure-mgmt-rdbms
azure-mgmt-cosmosdb
azure-mgmt-security
