azure-mgmt-resource
azure-identity
azure-mgmt-web
azure-mgmt-storage
azure-mgmt-sql
azure-mgmt-compute
azure-mgmt-keyvault
azure-mgmt-network
azure-mgmt-monitor
azure-mgmt-rdbms
azure-mgmt-cosmosdb
azure-mgmt-security
azure-storage-blob
azure-storage-file-share
azure-storage-queue
azure-mgmt-containerservice
azure-mgmt-containerregistry
azure-mgmt-eventhub
azure-mgmt-graphservices
